@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jameson Bug Tracker</h1>
    <p>Keep track of bugs that menace your code, hold them accountable, keep your devs informed.</p>
</div>
