@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
    ViewData["Title"] = "Landing Page";
}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jameson Bug Tracker- Welcome</title>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css">
    <script src="https://unpkg.com/animejs@3.0.1/lib/anime.min.js"></script>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <link href="~/plugins/fontawesome-free/css/all.css" rel="stylesheet" />
</head>
<body class="is-boxed has-animations">
    <div class="body-wrap">
        <header class="site-header">
            <div class="container">
                <div class="site-header-inner">
                    <div class="brand header-brand">
                        <div style="height:100px;">

                            <h1 class="m-0">
                                <a href="#">
                                </a>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <section class="hero">
                <div class="container">
                    <div class="hero-inner">
                        <div class="hero-copy">
                            <img src="/img/JamesonMed.png" class="img-fluid" />
                            <p class="hero-paragraph">Keep track of bugs that menace your code, hold them accountable, keep your devs informed.</p>
                            <div class="hero-cta"><a class="button button-primary" asp-area="Identity" asp-page="/Account/Login">Log In now</a></div>
                        </div>
                        <div class="hero-figure anime-element">
                            <svg class="placeholder" width="528" height="396" viewBox="0 0 528 396">
                                <rect width="528" height="396" style="fill:transparent;" />
                            </svg>
                            <div class="hero-figure-box hero-figure-box-01" data-rotation="45deg"></div>
                            <div class="hero-figure-box hero-figure-box-02" data-rotation="-45deg"></div>
                            <div class="hero-figure-box hero-figure-box-03" data-rotation="0deg"></div>
                            <div class="hero-figure-box hero-figure-box-04" data-rotation="-135deg"></div>
                            <div class="hero-figure-box hero-figure-box-05"></div>
                            <div class="hero-figure-box hero-figure-box-06"></div>
                            <div class="hero-figure-box hero-figure-box-07"></div>
                            <div class="hero-figure-box hero-figure-box-08" data-rotation="-22deg"></div>
                            <div class="hero-figure-box hero-figure-box-09" data-rotation="-52deg"></div>
                            <div class="hero-figure-box hero-figure-box-10" data-rotation="-50deg"></div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="features section">
                <div class="container">
                    <div class="features-inner section-inner has-bottom-divider">
                        <div class="features-wrap">
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
                                        <i class="fas fa-ticket-alt"></i>
                                    </div>
                                    <h4 class="feature-title mt-24">Manage Tickets</h4>
                                    <p class="text-sm mb-0">A Ticket can have different priorities, types and statuses to better suit your team.</p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
                                        <i class="fas fa-users"></i>
                                    </div>
                                    <h4 class="feature-title mt-24">Multi-Tenant</h4>
                                    <p class="text-sm mb-0">Multiple companies can be registered and are completely unaware of each others tickets and projects</p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
                                        <i class="fas fa-briefcase"></i>
                                    </div>
                                    <h4 class="feature-title mt-24">Project Management</h4>
                                    <p class="text-sm mb-0">Project managers can easily assign tickets and view the progress of their developers.</p>
                                </div>
                            </div>
                            @*<div class="feature text-center is-revealing">
                                    <div class="feature-inner">
                                        <div class="feature-icon">
                                            <img src="dist/images/feature-icon-04.svg" alt="Feature 04">
                                        </div>
                                        <h4 class="feature-title mt-24">Be Productive</h4>
                                        <p class="text-sm mb-0">Fermentum posuere urna nec tincidunt praesent semper feugiat nibh. A arcu cursus vitae congue mauris. Nam at lectus urna duis convallis. Mauris rhoncus aenean vel elit scelerisque mauris.</p>
                                    </div>
                                </div>
                                <div class="feature text-center is-revealing">
                                    <div class="feature-inner">
                                        <div class="feature-icon">
                                            <img src="dist/images/feature-icon-05.svg" alt="Feature 05">
                                        </div>
                                        <h4 class="feature-title mt-24">Be Productive</h4>
                                        <p class="text-sm mb-0">Fermentum posuere urna nec tincidunt praesent semper feugiat nibh. A arcu cursus vitae congue mauris. Nam at lectus urna duis convallis. Mauris rhoncus aenean vel elit scelerisque mauris.</p>
                                    </div>
                                </div>
                                <div class="feature text-center is-revealing">
                                    <div class="feature-inner">
                                        <div class="feature-icon">
                                            <img src="dist/images/feature-icon-06.svg" alt="Feature 06">
                                        </div>
                                        <h4 class="feature-title mt-24">Be Productive</h4>
                                        <p class="text-sm mb-0">Fermentum posuere urna nec tincidunt praesent semper feugiat nibh. A arcu cursus vitae congue mauris. Nam at lectus urna duis convallis. Mauris rhoncus aenean vel elit scelerisque mauris.</p>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer class="site-footer">
            <div class="container">
                <div class="site-footer-inner">
                    <div class="brand footer-brand">
                        <a href="#">
                            <img class="header-logo-image" src="~/favicon.ico" alt="Logo">
                        </a>
                    </div>
                    <div class="footer-copyright">Template &copy; 2019 Solid, all rights reserved.     Site &copy; 2021 <a href="https://sethbcoding.com" target="_blank"> Seth A. Burleson</a></div>
                </div>
            </div>
        </footer>
    </div>

    <script src="~/js/landing.js"></script>
    
</body>
</html>
