<h1>This action isn't available to demo users</h1>
<h4>For full functionality, please register as a new company.</h4>
<a class="btn btn-block btn-primary" asp-action="Dashboard">Return To Dashboard</a>